body {
  font-family: 'Kalam', cursive;
  margin: 0;
}

.mainHeader {
  border-top: 2px solid #FEC200;
  border-bottom: 2px solid #FEC200;
  text-align: center;
  padding: 10px;
  width: 50%;
  margin: 0 auto; /* https://css-tricks.com/centering-css-complete-guide/ */
}

.componentArea {
  text-align: center;
}

.buttonArea {
  text-align: center;
}

.informationBar {
  border: 2px solid #FEC200;
  display: inline-block;
  border-radius: 20px;
  padding: 2px;
  width: 150px;
  margin: 2px;
}

.shapeBox {
  display: inline-block;
  border: 10px #19FFD1 solid;
  border-radius: 10px;
  padding: 30px 0 30px 0;
  width: 400px;
  height: 50%;
  text-align: center;
  margin: 10px;
}

.shape {
  background-color: white;
  border: 1px solid;
  margin: auto;
  width: 100px;
  cursor: url("./assets/paintCursor.gif"), default; /* https://www.tutorialrepublic.com/faq/how-to-create-custom-cursor-using-css.php */
}

.message {
  margin: 10px;
}

.prompt {
  background-color: #19FFD1;
  text-align: center;
}

.colourButton {
  width: 150px;
  height: 50px;
  margin: 10px;
}

.startOverButton {
  background-color: #FEC200;
  font-family: 'Kalam', cursive;
  font-size: large;
  width: 200px;
  height: 100px;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.footer {
  text-align: center;
  margin: 0;
}